<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>app.rightkit.mac.agent</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/RightKitAgent</string>
	<key>MachServices</key>
	<dict>
		<key>group.app.rightkit.mac.command</key>
		<true/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>app.rightkit.mac</string>
	</array>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
